h1,
p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: normal;
}

h1 {
  color: black;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
}

p {
  font-family: "Inter", sans-serif;
  color: #575757;
  font-size: 1.5rem;
  font-weight: 400;
}
