.layout-form {
  display: flex;
  flex-direction: column;
  gap: 9.825rem;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 39px;
  }

  &__body {
    max-width: 596px;
    display: grid;

    &--cc {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "a a" "card-number card-number" "c d" "e e" "f f" "g .";

      gap: 10px;
    }

    li {
      display: grid;
    }
    &__zone-a {
      grid-area: a;
    }

    &__card-number {
      grid-area: card-number;
      gap: 0;

      &__label {
        grid-column: 1/3;
      }
      &__icon {
        grid-column: 1/2;

        grid-area: icon;
        display: flex;
        align-items: center;

        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom: 1px solid #9563ff;
        background: #eee;
      }
      &__input {
        grid-column: 2/3;
      }
    }

    &__zone-c {
      max-width: 277px;
      grid-area: c;
    }

    &__zone-d {
      max-width: 235px;
      grid-area: d;
      justify-self: end;
    }
    &__zone-e {
      grid-area: e;
      grid-template-areas: "l l" "in btn";
      &__label {
        grid-area: l;
      }
      &__input {
        grid-area: in;
      }

      &__btn {
        border: none;
        grid-area: btn;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: 1px solid #9563ff;
        background: #eee;

        color: #9563ff;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    &__zone-f {
      grid-area: f;
      padding-top: 2.125em;
    }
  }
}

%micro-layout {
  display: grid;
}

%macro-layout {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@mixin grid-col-2 {
  grid-column: 1/3;
}

@mixin grid-col-1 {
  grid-column: 1/2;
}

.form-cc-lyt {
  @extend %macro-layout;
  max-width: 100%;
  width: 100%;

  &__name {
    //outer display
    @include grid-col-2();
    //inner display
    @extend %micro-layout;
  }
  &__card-number {
    //outer display
    @include grid-col-2();
    //inner display
    @extend %micro-layout;
    grid-template-columns: 1fr 1fr;
  }

  &__expiry {
    //outer display
    grid-column: 1/2;
    grid-row: 3;
    //inner display
    @extend %micro-layout;
  }

  &__cvc {
    //outer display
    grid-column: 2/3;
    grid-row: 3;
    //inner display
    @extend %micro-layout;
  }

  &__discount-code {
    //outer display
    @include grid-col-2();
    //inner display
    @extend %micro-layout;
  }

  &__btn {
    //outer display
    @include grid-col-1();
    //inner display
    @extend %micro-layout;
  }
}

.cc-in-items-lyt {
  max-width: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-auto-rows: 0.7fr;

  &--number {
    grid-template-columns: max-content 1fr;
  }

  &--discount {
    max-width: 100%;
    width: 100%;
    grid-template-columns: 1fr min-content;
  }

  &--expiry {
    // grid-template-columns: minmax(60%, max-content);
    grid-template-columns: minmax(50px, 0.3fr) minmax(10px, 0.01fr) minmax(
        50px,
        0.3fr
      );
    grid-auto-rows: 32.867px minmax(66.078px, 0.08fr) minmax(18px, min-content);
  }

  &--cvc {
    max-width: 100%;
    width: 100%;
    grid-template-columns: minmax(40%, 0.67fr);
    grid-auto-rows: 32.867px minmax(66.078px, 0.08fr) minmax(18px, 1fr);

    justify-content: end;
  }

  &__label {
    grid-column: 1/3;

    &--cvc {
      grid-column: 1/3;
    }

    &--expiry {
      grid-column: 1/4;
    }

    &--number {
      grid-column: 1/3;
    }
    &--discount {
      grid-column: 1/3;
    }
  }

  &__input {
    grid-column: 1/3;

    &--cvc {
      grid-column: 1/3;
    }

    &--expiry {
      grid-column: 1/3;
    }

    &--number {
      grid-column: 2/3;
    }
    &--discount {
      grid-column: 1/2;
    }
  }

  &__icon {
    &--number {
      display: grid;
      align-items: center;
      grid-column: 1/2;
    }
  }

  &__btn {
    &--discount {
      grid-column: 2/3;
    }
  }

  &__error {
    grid-column: 1/3;
    &--expiry {
      grid-column: 1/4;
    }

    &--cvc {
      grid-column: 1/2;
    }
  }
}
