@use "../abstracts";
.form {
  // li {
  //   max-width: 100%;

  //   &:focus-within {
  //     border: #9563ff 2px solid;
  //     // width: 100%;
  //   }
  // }

  //label

  &__label {
    @extend %label-base-style;
  }

  //input

  &__input {
    @extend %base-input-style;

    &--number {
      border-radius: 0 10px 10px 0;
    }

    &--discount {
      border-radius: 10px 0 0 10px;
    }

    &--discount-error {
      background-color: #fdd;
      border-radius: 10px 0 0 0;
    }

    &--error {
      background-color: #fdd;
      border-radius: 10px 10px 0 0;
    }

    &:invalid {
      background-color: #fdd;
      border-radius: 10px 10px 0 0;
    }

    &--number-error:invalid {
      border-radius: 0 10px 0 0;
      background-color: #fdd;
    }

    &--number-error {
      border-radius: 0 10px 0 0px;
      background-color: #fdd;
    }

    &--mm {
      @extend %base-input-style;
      padding-left: 0.75em;

      border-radius: 10px 0px 0px 10px;
    }

    &--mm-invalid-right {
      @extend %base-input-style;
      padding-left: 0.75em;
      border-radius: 10px 0 0 0;
      &:invalid {
        background-color: #fdd;
        border-radius: 10px 0 0 0;
      }
    }

    &--mm:placeholder-shown {
      // display: inline-flex;
      // justify-content: flex-start;
      // text-align: start;
    }

    &--yy {
      color: #a175ff;
      background: #eee;
      border-bottom: 1px solid #9563ff;
      line-height: 4.13rem;
      font-family: "Inter", sans-serif;
      font-size: clamp(0.75rem, 0.75rem + 1vw, 3vw);
      border-radius: 0px 10px 10px 0px;
    }

    &--yy-invalid-left {
      color: #a175ff;
      border-bottom: 1px solid #9563ff;
      line-height: 4.13rem;
      font-family: "Inter", sans-serif;
      font-size: clamp(0.75rem, 0.75rem + 1vw, 3vw);
      border-radius: 0 10px 0 0;
      &:invalid {
        background-color: #fdd;
        border-radius: 0 10px 0 0;
      }
    }

    &::placeholder {
      @extend %placeholder-base-style;
    }
  }

  //icon
  &__icon {
    @extend %base-input-style;
    border-radius: 10px 0 0px 10px;

    &--error {
      border-radius: 10px 0 0 0px;

      background-color: #fdd;
    }
  }

  //btn

  &__discount-btn {
    @extend %base-input-style;
    border-radius: 0 10px 10px 0;
    border: unset;
    border-block-end: 1px solid #9563ff;
    &--error {
      background-color: #fdd;
      border-radius: 0 10px 0 0;
    }
  }

  &__error-msg {
    // display: inline-block;
    padding: 1em;
    color: white;
    background-color: #900;
    border-radius: 0 0 10px 10px;
    font-family: "Inter", sans-serif;
    // font-size: 1rem;
  }

  &__slash {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #a175ff;
    background: #eee;
    border-bottom: 1px solid #9563ff;
    // line-height: 4.13rem;
    font-family: "Inter", sans-serif;
    font-size: clamp(0.75rem, 0.75rem + 1vw, 3vw);
    font-size: 1.5rem;
    &--invalid {
      background-color: #fdd;
    }
  }
}

.hidden {
  display: none;
}
